ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#onRight {
	float: right;
}

.hidden {
	display: none !important;
}

#inputBox {
	border: 2px solid black;
	position: fixed;
	top: 35%;
	left: 37.5%;
	width: 22.5%;
}

#inputBox.moved {
        left: 22%;	
}

#outputBox {
	border: 2px solid black;;
	position: fixed;
	top: 33%;
	left: 48%;
}

#outputBox.moved {
	left: 22%;
}

#massOutput {
        float: left;
        border: 2px solid black;;
}

#confidenceOutput {
        float: left;
        border: 2px solid black;;
}

#explanationModal {
        border: 2px solid black;
	height: 70%;
	width: 30%;
	position: fixed;
	top: 20%;
	right: 22%;
}

#notes {
	position: fixed;
	bottom: 0;
	font-size: 12px;
}

img {
	
	width: 33%;
}


