ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.overlay {
  position: fixed;
  z-index: 9999;
}

#closeIntro {
	position: absolute;
	right: 0;
	top: 0;
}

#onRight {
	float: right;
}

.hidden {
	display: none !important;
}

#introBox {
	position: fixed;
	border: 2px solid black;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	background-color: white;
}

#inputBox {
	text-align: center;
	border: 2px solid black;
	position: fixed;
	top: 32.5%;
	left: 32.5%;
	width: 30%;
	height: 30%;
}

#inputBox.moved {
        left: 17.5%;	
}

#outputBox {
	text-align: center;
	width: 30%;
	height: 30%;
	border: 2px solid black;;
	position: fixed;
	top: 32.5%;
	right: 17.5%;
}

#outputBox.moved {
	left: 17.5%;
}

#massOutput {
	height: 50%;
	width: 46.75%;
	margin: 3.5px;
        float: left;
        border: 2px solid black;;
}

#confidenceOutput {
	height: 50%;
	width: 46.75%;
	margin: 3.5px;
        float: left;
        border: 2px solid black;;
}

#explanationModal {
	text-align: center;
        border: 2px solid black;
	height: 70%;
	width: 30%;
	position: fixed;
	top: 15%;
	right: 17.5%;
}

#note {
	font-size: 12.5px;
	margin: 2px;
}

#inputBar {
	margin: 10px;
}

#goButton {
	margin: 10px;
}

#learnMoreArrow {
	margin: 10px;
}

#goBackButton {
	margin: 10px;
}

