/* Nav Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#on-right {
  float: right;
}

/* Intro Box */

.overlay {
  position: fixed;
  z-index: 9999;
}

#close-intro {
  position: absolute;
  right: 0;
  top: 0;
}

#intro-box {
  position: fixed;
  border: 2px solid black;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  background-color: white;
}

/* Classes */

.hidden {
  display: none !important;
}

/* Input Box */

#input-box {
  text-align: center;
  border: 2px solid black;
  position: fixed;
  top: 32.5%;
  left: 32.5%;
  width: 30%;
  height: 30%;
}

#input-box.moved {
  left: 17.5%;
}

#note {
  font-size: 12.5px;
  margin: 2px;
}

#input-bar {
  margin: 10px;
}

#go-button {
  margin: 10px;
}

/* Output Box */

#output-box {
  text-align: center;
  width: 30%;
  height: 30%;
  border: 2px solid black;
  position: fixed;
  top: 32.5%;
  right: 17.5%;
}

#output-box.moved {
  left: 17.5%;
}

#mass-output {
  height: 50%;
  width: 46.75%;
  margin: 3.5px;
  float: left;
  border: 2px solid black;
}

#confidence-output {
  height: 50%;
  width: 46.75%;
  margin: 3.5px;
  float: left;
  border: 2px solid black;
}

#learn-more-arrow {
  margin: 10px;
}

#go-back-button {
  margin: 10px;
}

/* Explanation Modal */

#explanation-modal {
  text-align: center;
  border: 2px solid black;
  height: 70%;
  width: 30%;
  position: fixed;
  top: 15%;
  right: 17.5%;
}
