ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#mainBox {

}

#inputBox {
	border: 2px solid black;
	position: fixed;
	top: 30%;
	left: 25%;
	width: 22.5%;
}

#outputBox {
	float: left;
	border: 2px solid black;;
	position: fixed;
	top: 50%;
	left: 25%;
}


#massOutput {
        float: left;
        border: 2px solid black;;
}

#confidenceOutput {
        float: left;
        border: 2px solid black;;
}

#explanantionModal {
        float: right;
        border: 2px solid black;
	height: 70%;
	width: 30%;
	position: fixed;
	top: 20%;
	right: 5%;
}

#notes {
	position: fixed;
	bottom: 0;
	font-size: 12px;
}

img {
	
	width: 33%;
}


